<p>create-city-hall works!</p>

<br>
<div class="container">
    <div class="row">

        <div class="col-md-8 offset-md-1">

            <h2 class="text-center">Formulaire : Mairie</h2><br />
            <form [formGroup]="form" class="form">
                
                <div class="field form-group">
                    <label>Adresse de la mairie :</label>
                    <input type="text" class="form-control" formControlName="address" />
                    <!-- <p *ngIf="form.get('address').invalid && form.get('address').touched" class="text-danger">Ce champ
                        est
                        obligatoire.</p> -->
                </div>
                <div class="field form-group">
                    <label>Numéro de téléphone :</label>
                    <input type="text" class="form-control" formControlName="phoneNumber" />
                    <!-- <p *ngIf="form.get('phoneNumber').invalid && form.get('phoneNumber').touched" class="text-danger">Ce
                        champ est
                        obligatoire.</p> -->
                </div>
                <div class="field form-group">
                    <label>Email :</label>
                    <input type="text" class="form-control" formControlName="email" />
                    <!-- <div *ngIf="form.get('email').invalid && form.get('email').touched">
                        <p *ngIf="form.get('email').errors.required" class="text-danger">Ce champ est obligatoire.</p>
                    </div> -->
                </div>
                <div class="field form-group">
                    <label>Mot de passe :</label>
                    <input type="password" class="form-control" formControlName="password" />
                    <!-- <div *ngIf="form.get('password').invalid && form.get('password').touched">
                        <p *ngIf="form.get('password').errors.required" class="text-danger">Ce champ est obligatoire.
                        </p>
                        <p *ngIf="form.get('password').errors.minlength" class="text-danger">Ce champ doit contenir au
                            moins 6 caractères </p>
                    </div> -->
                </div>
                <div class="field form-group">
                    <label>Local :</label>
                    <input type="text" class="form-control" formControlName="local" />
                    <!-- <div *ngIf="form.get('local').invalid && form.get('local').touched">
                        <p *ngIf="form.get('local').errors.required" class="text-danger">Ce champ est obligatoire</p>
                    </div> -->
                    <br>
                </div>

                <button type="submit"  class="btn btn-success" (click)="add()">Ajouter</button>


            </form>

        </div>

    </div>

</div>
